* {
  box-sizing: border-box;
}
.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.content {
  width: 800px;
}
.selected-inputs {
  display: block;
  margin-top: 10px;
}
